In [1]:
import pandas as pd

# Read files

In [2]:
df_0910 = pd.read_csv("0910.csv", on_bad_lines = 'skip', sep = ';')

In [3]:
df_1011 = pd.read_csv("1011.csv", on_bad_lines = 'skip', sep = ';')

In [ ]:
df_0910

In [ ]:
df_1011

# Contanate files

In [4]:
frames = [df_0910, df_1011]

In [5]:
df = pd.concat(frames)

In [ ]:
df

# Familiarisation with the data

In [ ]:
df.info

### How many orders are there?

In [ ]:
df.Invoice.nunique()

### What is the average invoice amount/ basket size?

In [ ]:
# To get this, grouping by invoice would be needed, I guess.
# Group by invoice and take the sum of the products of quantity and price.

### Which customer has the most invoices?

In [ ]:
# The other way around: group by customer and count the invoices

### How many customers do we have?

In [ ]:
df['Customer ID'].nunique()

### How many countries?

In [ ]:
df['Country'].nunique()

### How many customers per country?

In [ ]:
# group by country and aggregate by customers count function

### How can I check that customers id are all correct? 
*check the datatype and convert to integer, if needed*

### Can Stock Code be eliminated?
*I guess yes*

### How to visualise the findings from above best?

# Data Cleaning

### Renaming columns

In [7]:
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [8]:
# lowercase all column names
df.columns = df.columns.str.lower()

In [9]:
# replace spaces in column names with underscores
df.columns = df.columns.str.replace(" ", "_")

In [10]:
# remove any leading/trailing whitespace from column names
df.columns = df.columns.str.strip()

In [11]:
df.columns

Index(['invoice', 'stockcode', 'description', 'quantity', 'invoicedate',
       'price', 'customer_id', 'country'],
      dtype='object')

### Converting datatypes

In [13]:
# check datatypes of all columns
df.dtypes

invoice         object
stockcode       object
description     object
quantity         int64
invoicedate     object
price           object
customer_id    float64
country         object
dtype: object

In [19]:
# invoice is an object, altough at first glace it should be an integer. so, lets find if there are invoices that start with a letter
alphabet_pattern = r'^[a-zA-Z].*'
alphabet_values = df["invoice"][df["invoice"].str.match(alphabet_pattern)]

In [33]:
alphabet_values.count() # there are 19,500 rows that start with a letter

19500

In [32]:
alphabet_values.nunique() # out of the 19,5k almost the half is unique

8298

In [ ]:
# now I could

In [12]:
# remove any leading/trailing whitespace from values in each column
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [14]:
# convert price to float and replace comma with dot
df['price'] = df['price'].str.replace(',', '.').astype(float)

In [15]:
# convert invoicedate to datetime format
df["invoicedate"] = pd.to_datetime(df["invoicedate"], format="%m/%d/%y %H:%M")

In [16]:
df.dtypes

invoice                object
stockcode              object
description            object
quantity                int64
invoicedate    datetime64[ns]
price                 float64
customer_id           float64
country                object
dtype: object

In [6]:
df.shape

(1067371, 8)

In [ ]:
# remove any rows with negative or zero quantity
df = df[df["quantity"] > 0]

In [ ]:
# remove any rows with negative or zero price
df = df[df["price"] > 0]

In [ ]:
# remove any rows with missing values
df.dropna(inplace=True)

In [ ]:
# drop duplicates
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

In [ ]:
# reset the index
df.reset_index(drop=True, inplace=True)