In [1]:
import pandas as pd

# Read files

In [2]:
df_0910 = pd.read_csv("0910.csv", on_bad_lines = 'skip', sep = ';')

In [3]:
df_1011 = pd.read_csv("1011.csv", on_bad_lines = 'skip', sep = ';')

In [4]:
df_0910

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/09 7:45,"6,95",13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/09 7:45,"6,75",13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/09 7:45,"6,75",13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/09 7:45,"2,1",13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/09 7:45,"1,25",13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,12/9/10 20:01,"2,95",17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,12/9/10 20:01,"3,75",17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,12/9/10 20:01,"3,75",17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,12/9/10 20:01,"3,75",17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,12/9/10 20:01,"1,95",17530.0,United Kingdom

In [5]:
df_1011

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,"2,55",17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,"3,39",17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,"2,75",17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,"3,39",17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,"3,39",17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,"2,1",12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,"4,15",12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,"4,15",12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,"4,95",12680.0,France
541909,581587,POST,POSTAGE,1,12/9/11 12:50,18,12680.0,France

# Contanate files

In [6]:
files = [df_0910, df_1011]

In [7]:
df = pd.concat(files)

In [8]:
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/09 7:45,"6,95",13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/09 7:45,"6,75",13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/09 7:45,"6,75",13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/09 7:45,"2,1",13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/09 7:45,"1,25",13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,"2,1",12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,"4,15",12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,"4,15",12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,"4,95",12680.0,France
541909,581587,POST,POSTAGE,1,12/9/11 12:50,18,12680.0,France

# Data Cleaning

### Columns

In [9]:
df.columns # can stockcode be eliminated?

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [10]:
# remove any leading/trailing whitespace from column names
df.columns = df.columns.str.strip()

In [11]:
# replace spaces in column names with underscores
df.columns = df.columns.str.replace(" ", "_")

In [12]:
# lowercase all column names
df.columns = df.columns.str.lower()

In [13]:
# delete stockcode column
df.drop(['stockcode'], axis=1, inplace=True)

In [14]:
df

,invoice,description,quantity,invoicedate,price,customer_id,country
0,489434,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/09 7:45,"6,95",13085.0,United Kingdom
1,489434,PINK CHERRY LIGHTS,12,12/1/09 7:45,"6,75",13085.0,United Kingdom
2,489434,WHITE CHERRY LIGHTS,12,12/1/09 7:45,"6,75",13085.0,United Kingdom
3,489434,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/09 7:45,"2,1",13085.0,United Kingdom
4,489434,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/09 7:45,"1,25",13085.0,United Kingdom
...,...,...,...,...,...,...,...
541905,581587,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,"2,1",12680.0,France
541906,581587,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,"4,15",12680.0,France
541907,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,"4,15",12680.0,France
541908,581587,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,"4,95",12680.0,France
541909,581587,POSTAGE,1,12/9/11 12:50,18,12680.0,France

### Check datatypes

In [15]:
# check datatypes of all columns
df.dtypes
# 1. invoicedate is not a date
# 2. price is not a float
# 3. invoice is an object, altough at first glace it should be an integer

invoice         object
description     object
quantity         int64
invoicedate     object
price           object
customer_id    float64
country         object
dtype: object

In [16]:
# remove any leading/trailing whitespace from values in each column
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [17]:
# convert price to float and replace comma with dot
df['price'] = df['price'].str.replace(',', '.').astype(float)

In [18]:
# convert invoicedate to datetime format
df["invoicedate"] = pd.to_datetime(df["invoicedate"], format="%m/%d/%y %H:%M")

In [19]:
df.dtypes

invoice                object
description            object
quantity                int64
invoicedate    datetime64[ns]
price                 float64
customer_id           float64
country                object
dtype: object

### Rows

In [20]:
df.price.describe()

count    1.067371e+06
mean     4.649388e+00
std      1.235531e+02
min     -5.359436e+04
25%      1.250000e+00
50%      2.100000e+00
75%      4.150000e+00
max      3.897000e+04
Name: price, dtype: float64

In [21]:
df[df["price"] < 0]

,invoice,description,quantity,invoicedate,price,customer_id,country
179403,A506401,Adjust bad debt,1,2010-04-29 13:36:00,-53594.36,NaN,United Kingdom
276274,A516228,Adjust bad debt,1,2010-07-19 11:24:00,-44031.79,NaN,United Kingdom
403472,A528059,Adjust bad debt,1,2010-10-20 12:04:00,-38925.87,NaN,United Kingdom
299983,A563186,Adjust bad debt,1,2011-08-12 14:51:00,-11062.06,NaN,United Kingdom
299984,A563187,Adjust bad debt,1,2011-08-12 14:52:00,-11062.06,NaN,United Kingdom

In [22]:
# remove any rows with negative or zero price
df = df[df["price"] > 0]

In [23]:
# remove any rows with negative or zero quantity
# meaning we do not care too much for the refunds topic that we found during EDA
df = df[df["quantity"] > 0]

### Null values

In [25]:
# check if there are any null values
df.isnull().any()

invoice        False
description    False
quantity       False
invoicedate    False
price          False
customer_id     True
country        False
dtype: bool

In [26]:
# remove any rows with missing values
df.dropna(inplace=True)

In [27]:
df.isnull().any()

invoice        False
description    False
quantity       False
invoicedate    False
price          False
customer_id    False
country        False
dtype: bool

### Duplicates

In [30]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
541905    False
541906    False
541907    False
541908    False
541909    False
Length: 805549, dtype: bool

In [31]:
# drop duplicates
df.drop_duplicates(inplace=True)

In [32]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
541905    False
541906    False
541907    False
541908    False
541909    False
Length: 779282, dtype: bool

In [34]:
# reset the index
df.reset_index(drop=True, inplace=True)
df

,invoice,description,quantity,invoicedate,price,customer_id,country
0,489434,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...
779277,581587,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
779278,581587,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
779279,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
779280,581587,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
779281,581587,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

## New columns

In [36]:
# add total column (quantity * price)
df["total"] = df["quantity"] * df["price"]
df

,invoice,description,quantity,invoicedate,price,customer_id,country,total
0,489434,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.40
1,489434,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
2,489434,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
3,489434,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.80
4,489434,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.00
...,...,...,...,...,...,...,...,...
779277,581587,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
779278,581587,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
779279,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
779280,581587,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85
779281,581587,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,18.00