In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('cleaned_data.csv')
df

,Unnamed: 0,invoice,description,quantity,invoicedate,price,customer_id,country,total
0,0,489434,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.40
1,1,489434,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
2,2,489434,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
3,3,489434,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.80
4,4,489434,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.00
...,...,...,...,...,...,...,...,...,...
779277,779277,581587,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
779278,779278,581587,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
779279,779279,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
779280,779280,581587,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85
779281,779281,581587,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,18.00

# Familiarisation with the data

In [9]:
# How many orders are there?
df['invoice'].nunique()

36969

In [ ]:
# What is the average invoice amount/ basket size?

In [4]:
# Which customers have the most invoices? (Group by customer and count the invoices)

In [10]:
# Which customer generated the most revenue?
# here is code for one customer
df[df["customer_id"] == 16321.0]["total"].sum()
# but I do actually remember that they have got refunded their stuff and in the end the turnover was just 260

604.5500000000001

In [ ]:
# How many customers do we have?
df['customer_id'].nunique()

In [ ]:
# How many countries?
df['country'].nunique()

In [ ]:
# How many customers per country? (Group by country and aggregate by customers count function)

## Special topic: negative quantities / refunds

In [ ]:
df.dtypes

In [ ]:
# analyse why invoices is an object and not an integer
alphabet_pattern = r'^[a-zA-Z].*'
alphabet_values = df["invoice"][df["invoice"].str.match(alphabet_pattern)]
alphabet_values
# 19,5 have a letter

In [ ]:
# let's have a look how are they different
result01 = df.loc[df['invoice'] == 'C489449']
result01
# aaa, these are refunds!

In [ ]:
# how many invoices in total?
alphabet_values.nunique() 
# from 8,3k invoices!

In [ ]:
# how many customers have made a refund?
customer_ids_with_refund = df.loc[df['invoice'].isin(alphabet_values), 'customer_id'].unique()
pd.Series(customer_ids_with_refund).nunique()
# 2,5k customers

In [ ]:
# find row with negative quantity
negative_quatity = df.loc[df['quantity'] < 0]
negative_quatity
# 23k
# why is this number different from the above approach???
# it means there are more 3,5k more negative quantity entries than invoices starting with a letter